* {
    margin: 0;
    padding: 0;
    height: 100%;
}

#loom-companion-mv3, #shadow-host-companion {
    display: none !important;
}


/* Entry */

.entry{
    height: 100%;
    width: 100%;
    background-image: url('/fond-av.png');
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.bsd{
    height: fit-content;
    position: absolute;
    top: 5px;
    right: 5px;
    font-family: "Alice", serif;
    font-weight: 400;
    font-style: normal;
    color: #271A11;
}

.logo-entry{
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo-av-entry{
    height: 180px;
    width: 350px;
}

.entry-date{
    font-family: "Alice", serif;
    color: #5D412A;
}

@font-face {
    font-family: 'Amsterdam';
    src: url('./assets/fonts/amsterdam_4/amsterdam-four.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.entry-noms{
    width: 100%;
    height: fit-content;
    font-family: 'Amsterdam', sans-serif;
    font-size: 50px;
    text-align: center;
    color: #5D412A;
}

.and{
    font-size: 20px;
    margin: auto 30px auto auto;
}


.countdown{
    width: 90%;
    height: fit-content;
    margin: 0 auto;
    color: #402E20;
    font-family: "Antic Didone", serif;
    font-weight: lighter;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.time{
    text-align: center;
    font-size: small;
    background-color: rgba(198, 165, 138, 0.39);
    border-radius: 28px;
    height: 65px;
    width: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.invit-link{
    height: fit-content;
    transform: translateY(-20px);
}

.invit-button{
    height: 60px;
    width: 200px;
    background-color: rgba(198, 165, 138, 0.39);
    color: #271A11;
    border: none;
    border-radius: 30px;
    font-family: "Antic Didone", serif;
    font-size: medium;
}


/* Home */

.home{
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* Mairie */

.mairie{
    height: fit-content;
    width: 100%;
    background-image: url('/fond-element-haut.png');
    overflow: hidden;
}

.mairie-card{
    height: fit-content;
    width: 85%;
    margin: 60px auto 30px auto;
    padding: 120px 0;
    background-color: #E1C3A3;
    border: none;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 50% 150px;
    border-top-right-radius: 50% 150px;
    border-bottom-left-radius: 50% 150px;
    border-bottom-right-radius: 50% 150px;
}

.fleur-mairie-haut{
    width: 150px;
    height: 200px;
    position: absolute;
    top: -10px;
    left: -9px;
    transform: rotate(45deg);
}


.mairie-title{
    height: fit-content;
    color: #806548;
    font-family: "Antic Didone", serif;
    font-weight: 400;
    text-shadow: 4px 0 4px rgba(0, 0, 0, 0.5);
}

.bagues-mairie{
    width: 40px;
    height: 30px;
}

.mairie-noms{
    color: #806548;
    font-family: 'Amsterdam', sans-serif;
    display: flex;
    flex-direction: row;
    margin: 90px auto auto auto;
}

.mairie-nom-1{
    transform: translateY(-70px);
    font-size: 50px;
    font-weight: 100;
}

.mairie-and{
    font-weight: 100;
}

.mairie-nom-2{
    height: fit-content;
    transform: translateY(10px);
    font-size: 50px;
    font-weight: 100;
}


.mairie-text{
    margin: 40px auto auto auto;
    font-family: "Antic Didone", serif;
    color: #806548;
    height: fit-content;
}

.mairie-oui{
    margin: 10px auto auto auto;
    font-family: "Antic Didone", serif;
    font-size: 30px;
    color: #806548;
    height: fit-content;
}

.mairie-date{
    height: fit-content;
    margin: 40px auto auto auto;
    font-family: "Antic Didone", serif;
    color: #806548;
    font-size: 20px;
    text-align: center;
}

.mairie-endroit{
    height: fit-content;
    margin: 40px auto auto auto;
    font-family: "Antic Didone", serif;
    color: #806548;
    text-align: center;
}

.mairie-suite{
    height: fit-content;
    width: 60%;
    text-align: center;
    margin: 40px auto auto auto;
    font-family: "Antic Didone", serif;
    color: #806548;
}

.waze-mairie{
    margin: 30px auto auto auto;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.waze-mairie .waze-link{
    color: #806548;
    font-family: "Antic Didone", serif;
    font-style: italic;
}

.save-the-date-mairie{
    margin: 10px auto auto auto;
    height: fit-content;
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.save-the-date-mairie .save-the-date-link{
    color: #806548;
    font-family: "Antic Didone", serif;
    font-style: italic;
}

.fleur-mairie-bas{
    width: 150px;
    height: 200px;
    position: absolute;
    bottom: -10px;
    right: -9px;
    transform: rotate(45deg);
}