* {
    margin: 0;
    padding: 0;
    height: 100%;
}

#loom-companion-mv3, #shadow-host-companion {
    display: none !important;
}


/* Entry */

.entry{
    height: 100%;
    width: 100%;
    background-image: url('/fond-bleu.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.bsd{
    position: absolute;
    top: 4px;
    right: 4px;
    color: #BC9B51;
    height: 5px;
}

.logo-coutdown{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 50%;
}

.logo-entry{
    width: 200px;
    height: 200px;
}

.countdown{
    height: fit-content;
    color: #BC9B51;
    font-family: "Pinyon Script", serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.time{
    text-align: center;
    font-size: x-large;
}

.entry .voir-invit{
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.entry .lien{
    color: #BC9B51;
    font-family: "Pinyon Script", serif;
    font-size: xx-large;
    height: fit-content;
    display: flex;
    flex-direction: row;
}

.entry a{
    text-decoration: none;
    color: #BC9B51;
}

.fleur-droite, .fleur-gauche{
    width: 50px;
    height: 80px;
    transform: rotate(50deg);
}

.fleur-droite{
    transform: rotate(50deg);
}

.fleur-gauche{
    transform: rotate(-50deg);
}

.fleur-dore-bas{
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 10px;
}

/* Home */

.home{
    height: fit-content;
    width: 100%;
    background-image: url('/fond-blanc-texture.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.kol-sasson{
    height: 100px;
    width: 300px;
    display: block;
    margin: auto;
}

.logo-bleu{
    width: 120px;
    height: 120px;
    margin: 0 auto 40px auto;
    transform: translateY(-20px);
}

/* Houppa */

.houppa{
    height: fit-content;
}

.houppa-titre{
    color: #001e3b;
    font-family: "Pinyon Script", serif;
    height: fit-content;
}

.houppa-fleur{
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.fleur-bleue-droite, .fleur-bleue-gauche{
    width: 100px;
    height: 110px;
}

.houppa-card{
    height: fit-content;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #001e3b;
}

.parents{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: small;
    margin: 0 20px;
}

.parents-fille{
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 6px;
}

.parents-garcon{
    display: flex;
    flex-direction: column;
    text-align: right;
    gap: 6px;
}

.houppa-text{
    text-align: center;
    font-size: large;
    width: 80%;
    margin: 30px auto auto auto;
    font-family: "Playfair", serif;
    font-weight:lighter;
}

.houppa-noms{
    font-family: "Luxurious Script", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 30px auto auto auto;
}

.houppa-date{
    display: block;
    margin: 30px auto;
    text-align: center;
}

.houppa-endroit{
    display: block;
    margin: auto;
    text-align: center;
    font-size: large;
}

.houppa-reception{
    display: block;
    text-align: center;
    font-size: larger;
    margin: 30px auto auto auto;
}

.houppa-pensee{
    display: block;
    font-style: italic;
    margin: 40px auto auto auto;
    text-align: center;
    font-size: larger;
    width: 90%;
}


/* Chabat */

.chabat{
    height: fit-content;
    width: 100%;
    border-top-left-radius: 50% 180px;
    border-top-right-radius: 50% 180px;
    border-bottom-left-radius: 50% 180px;
    border-bottom-right-radius: 50% 180px;
    background-image: url('/fond-bleu.png');
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    padding: 110px 0;
}

.chabat-fleur{
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 0 20px;
}

.chabat-titre{
    color: #BC9B51;
    font-family: "Pinyon Script", serif;
    height: fit-content;
}

.fleur-chabat-gauche, .fleur-chabat-droite{
    width: 80px;
    height: 140px;
}

.fleur-chabat-gauche{
    transform: rotate(30deg);
}

.fleur-chabat-droite{
    transform: rotate(-30deg);
}

.chabat-noms{
    height: fit-content;
    color: #BC9B51;
    font-family: "Luxurious Script", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 40px auto auto auto;
}

.chabat-text{
    color: #BC9B51;
    text-align: center;
    width: 80%;
    margin: 40px auto auto auto;
    font-size: large;
    height: fit-content;
}

.chabat-date{
    color: #BC9B51;
    text-align: center;
    width: 50%;
    margin: 40px auto auto auto;
    font-size: larger;
    height: fit-content;
}

.chabat-endroit{
    color: #BC9B51;
    text-align: center;
    width: 70%;
    margin: 40px auto auto auto;
    font-size: larger;
    height: fit-content;
    line-height: 25px;
}

.chabat-waze{
    color: #BC9B51;
    display: block;
    margin: 40px auto auto auto;
    height: fit-content;
    text-align: center;
    font-size: x-large;
    font-style: italic;
}

/* Form */

form{
    height: fit-content;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #001e3b;
}

.rsvp-titre{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Pinyon Script", serif;
}

.rsvp-inputs{
    display: flex;
    flex-direction: column;
    width: 80vw;
    gap: 20px;
}

.rsvp-inputs input, .rsvp-inputs textarea{
    border: #001e3b solid 1px;
    border-radius: 20px;
    padding: 6px;
}

.presence{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.square-checkbox {
    appearance: none; /* Supprime l'apparence par défaut */
    width: 20px; /* Largeur */
    height: 20px; /* Hauteur */
    background-color: white; /* Couleur de fond */
    border: 2px solid #001e3b; /* Bordure noire */
    border-radius: 2px; /* Pas de bordure arrondie pour un effet carré */
    cursor: pointer;
    position: relative; /* Nécessaire pour positionner la flèche */
}

.square-checkbox:checked {
    background-color: white; /* Fond reste blanc */
    border-color: #001e3b; /* Garde la bordure noire */
}

.square-checkbox:checked::after {
    content: ''; /* Pseudo-élément pour la flèche */
    position: absolute;
    top: 2px; /* Position verticale */
    left: 4px; /* Position horizontale */
    width: 6px; /* Largeur de la flèche */
    height: 10px; /* Hauteur de la flèche */
    border: solid #001e3b; /* Couleur de la flèche */
    border-width: 0 2px 2px 0; /* Taille des lignes de la flèche */
    transform: rotate(45deg); /* Inclinaison pour créer une flèche */
}

form button{
    width: 190px;
    height: 50px;
    background-image: url('/fond-bleu.png');
    color: #BC9B51;
    border: none;
    border-radius: 10px;
    margin: auto;
}
